name: Build and Upload Python Package

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Check out the repository
      - uses: actions/checkout@v4

      # Set up Python
      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      # Install dependencies and build package
      - name: Install build dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine

      - name: Build release distributions
        run: |
          python setup.py sdist bdist_wheel

      # Upload distributions to PyPI using Twine
      - name: Upload distributions to PyPI
        run: |
          twine upload dist/* --username __token__ --password ${{ secrets.PYPI_API_TOKEN }}
